* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-style: bold;
}
body {
	background: url('../img/bg.jpg') 0 0;
}
main {
	margin: 0 auto;
}
form {
	width: 320px;
	height: 370px;
	background: #fff;
	border: 1px solid #cfdede;
	margin: 100px auto;

}
.header-form {
	width: 150px;
	height: 25px;
	background: #01b3b3;
	text-align: center;
	margin: -4px 30px;
	margin-bottom: 26px;
}
h1 {
	display: inline-block;
	text-transform: uppercase;
	transform: translateY(2.5px);
	font-size: 12px;
	color: #fff;
}
form input {
	width: 250px;
	height: 32px;
	margin: 12px 30px;
	padding-left: 12px;
	font-style: italic;
	font-size: 12px;
	line-height: 12px;
	background: url('../img/bg.jpg') 0 0;
	border: none;
}
form label {
	display: inline-block;
	margin: 1.4px 30px;
	font-size: 12px;
	font-weight: 700;
}
form .btn {
	width: 260px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 900;
	background: #01bfbf;
	color: #fff;
	margin: 0 30px;
	margin-top: 22px;
	font-size: 16px;
	line-height: 45px;
	font-weight: 700;
	border: none;
}