body {
  font-size: 10px;
}
.container {
  background: url('../img/bg.jpg') center center no-repeat;
  background: cover;
}
.nav {
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: #03a4d9;
  color: #fff;
  border: none;
  border-bottom: 0.2rem solid #03a4d9;
  outline: none;
}
.nav > li > a {
  background: #fff;
  color: #000;
}
.tab {
  position: relative;
  margin: 2.2rem;
  /* синяя рамка */
}
.tab img {
  position: absolute;
  bottom: -3rem;
  right: -11rem;
}
.tab p {
  margin-bottom: 6rem;
  font-size: 1.5rem;
  color: #c51f03;
  text-align: left;
}
.tab input {
  display: inline-block;
}
.tab-item {
  display: block;
  margin-left: 1rem;
  text-align: center;
  /* background: #fff; */
  font-size: 2.1rem;
  border-radius: 0.5rem;
  /* color: black; */
}
.tab-item:first-child {
  margin-left: 3rem;
}
.tab-item a {
  /* display: block; */
  /* font-size: 2.1rem; */
  /* border-radius: 0.5rem; */
  /* color: black; */
}
.tab-input {
  display: block;
  width: 100%;
  margin-top: 3rem;
  padding: 1.9rem 2rem;
  font-size: 2rem;
  height: 6rem;
  color: #ffffff;
  background: #1e1e1e;
  border: none;
  border-radius: 0.5rem;
}
.tab-pane {
  background: #000;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.tab-content {
  border: 2.4rem solid #03a4d9;
  border-radius: 0.5rem;
  background: #03a4d9;
}
.tab-content-box {
  padding: 4.5rem 4.5rem 1rem;
  border-radius: 0.5rem;
}
.tab-content label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #6f6d6d;
}
.tab-menu {
  margin: 10% auto;
  /* transform: translateY(-50%); */
  width: 63rem;
  padding: 2rem 8rem;
}
