body {
  font-size: 10px;
}
.map-block {
  position: relative;
  height: auto;
}
.map-block-box {
  position: absolute;
  top: -43rem;
  padding: 6.5rem;
  left: 0;
  /* //490px; */
  bottom: 0;
  width: 380px;
  height: 430px;
  text-align: center;
  color: #fff;
  background: #c60b0b;
  font-size: 1.8rem;
}
.map-block-box h2 {
  font-size: 3rem;
}
.map-block-box a {
  color: #fff;
}
.footer {
  padding: 2rem;
  font-size: 1.6rem;
  max-height: 9.5rem;
}
.footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9.5rem;
}
.footer .wrap p {
  text-align: center;
}
.footer img {
  min-height: 8rem;
}
.footer .text_right {
  text-align: right;
}
.footer .text_left {
  padding: 0;
  display: inline-block;
  text-align: left;
}
.footer .text_logo {
  text-align: left;
}
.footer .text_center {
  text-align: center;
}
